<% include nav %>
<h1>Ingredients</h1>
<button onclick="importIngredients()">Import Ingredients</button>
<p><% error %></p>

<ul>
	<% ingredients.forEach(function(i) { %>
		<li>i.name</li>
	<% }) %>
</ul>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript">
	function importIngredients() {
		//var i = JSON.parse(localStorage.getItem("ingredient_nutrition"));
		var i = [{"ingredient": "popo"}];

		$.post("/import-ingredients", i);
	}
</script>