<% include nav %>
<h1>Ingredients</h1>
<button onclick="importIngredients()">Import Ingredients</button>

<ul>
	<% ingredients.forEach(function(i) { %>
		<li>i.name</li>
	<% }) %>
</ul>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript">
	function importIngredients() {
		var i = localStorage.getItem("Fri");
		alert(i);

		var a = [];
		a.push({
			name: "test"
		});
		$.post("/import-ingredients", {
			name: "test"
		});
	}
</script>